<%= stylesheet_link_tag "welcome" %>

<%= tag.div class: "page_centerer" do %>
  <%= tag.div class: "central_column_container" do %>
    <h1>Dresser</h1>
    <p>One day, this will contain great things.</p>
  <% end %>
<% end %>
